In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [2]:
df = pd.read_excel("ar-2017-2018.xlsx", sheet_name="Anonymised register")
df

,Patient age at treatment,Total number of previous IVF cycles,Total number of previous DI cycles,Total number of previous pregnancies - IVF and DI,Total number of previous live births - IVF or DI,Causes of infertility - tubal disease,Causes of infertility - ovulatory disorder,Causes of infertility - male factor,Causes of infertility - patient unexplained,Causes of infertility - endometriosis,...,Heart three weeks gestation,Heart three birth outcome,Heart three birth weight,Heart three sex,Heart three birth congenital abnormalities,Heart three delivery date,Patient ethnicity,Partner ethnicity,Partner Type,Partner age
0,45-50,3,0,0.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Black,Other,Male,NaN
1,18-34,0,0,NaN,NaN,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,White,Other,NaN,NaN
2,999,0,0,NaN,NaN,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Other,Other,NaN,NaN
3,18-34,0,0,NaN,NaN,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,White,White,Male,18-34
4,18-34,1,0,NaN,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,White,White,Male,18-34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169611,18-34,0,0,NaN,NaN,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Other,White,Male,18-34
169612,18-34,1,0,NaN,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Other,White,Male,18-34
169613,18-34,2,0,NaN,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Other,White,Male,18-34
169614,35-37,0,0,NaN,NaN,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Other,Other,Male,35-37
169615,18-34,0,0,NaN,NaN,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,White,White,Male,35-37

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169616 entries, 0 to 169615
Data columns (total 61 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   Patient age at treatment                           169616 non-null  object
 1   Total number of previous IVF cycles                169616 non-null  object
 2   Total number of previous DI cycles                 169616 non-null  object
 3   Total number of previous pregnancies - IVF and DI  42688 non-null   float64
 4   Total number of previous live births - IVF or DI   105087 non-null  object
 5   Causes of infertility - tubal disease              169616 non-null  int64
 6   Causes of infertility - ovulatory disorder         169616 non-null  int64
 7   Causes of infertility - male factor                169616 non-null  int64
 8   Causes of infertility - patient unexplained        169616 non-null  int64
 9   Causes of infertility - endometriosis              169616 non-null  int64
 10  Main reason for producing embroys storing eggs     169616 non-null  object
 11  Stimulation used                                   169616 non-null  int64
 12  Egg donor age at registration                      8641 non-null    object
 13  Sperm donor age at registration                    24878 non-null   object
 14  Donated embryo                                     158334 non-null  float64
 15  Type of treatment - IVF or DI                      169616 non-null  object
 16  Specific treatment type                            169616 non-null  object
 17  PGT-M treatment                                    169616 non-null  int64
 18  PGT-A treatment                                    169616 non-null  int64
 19  Elective single embryo transfer                    158334 non-null  float64
 20  Egg source                                         158334 non-null  object
 21  Sperm source                                       169421 non-null  object
 22  Fresh cycle                                        158334 non-null  float64
 23  Frozen cycle                                       158334 non-null  float64
 24  Eggs thawed (0/1)                                  169616 non-null  int64
 25  Fresh eggs collected                               158334 non-null  object
 26  Fresh eggs stored (0/1)                            169616 non-null  int64
 27  Total eggs mixed                                   158334 non-null  object
 28  Total embryos created                              158334 non-null  object
 29  Embryos transferred                                158334 non-null  float64
 30  Total embryos thawed                               169616 non-null  object
 31  Embryos transferred from eggs micro-injected       84882 non-null   float64
 32  Embryos stored for use by patient                  158334 non-null  object
 33  Date of embryo transfer                            120834 non-null  float64
 34  Year of treatment                                  169616 non-null  int64
 35  Live birth occurrence                              169616 non-null  int64
 36  Number of live births                              169616 non-null  int64
 37  Early outcome                                      132520 non-null  object
 38  Number of foetal sacs with fetal pulsation         59845 non-null   object
 39  Heart one weeks gestation                          40353 non-null   object
 40  Heart one birth outcome                            46810 non-null   object
 41  Heart one birth weight                             40259 non-null   object
 42  Heart one sex                                      40493 non-null   object
 43  Heart one delivery date                            40393 non-null   float64
 44  Heart one birth congenital abnormalities           443 non-null     float64
 45  Heart two weeks gestation                          4154 non-null    object
 46  Heart two birth outcome                            4725 non-null    object
 47  Heart two birth weight                             4101 non-null    object
 48  Heart two sex                                      4150 non-null    object
 49  Heart two delivery date                            4143 non-null    float64
 50  Heart two birth congenital abnormalities           37 non-null      float64
 51  Heart three weeks gestation                        79 non-null      object
 52  Heart three birth outcome                          107 non-null     object
 53  Heart three birth weight                           77 non-null      object
 54  Heart three sex                                    80 non-null      object
 55  Heart three birth congenital abnormalities         37 non-null      float64
 56  Heart three delivery date                          80 non-null      float64
 57  Patient ethnicity                                  169616 non-null  object
 58  Partner ethnicity                                  169616 non-null  object
 59  Partner Type                                       166152 non-null  object
 60  Partner age                                        152683 non-null  object
dtypes: float64(14), int64(13), object(34)
memory usage: 78.9+ MB

In [4]:
df.isnull().sum()

Patient age at treatment                                  0
Total number of previous IVF cycles                       0
Total number of previous DI cycles                        0
Total number of previous pregnancies - IVF and DI    126928
Total number of previous live births - IVF or DI      64529
                                                      ...
Heart three delivery date                            169536
Patient ethnicity                                         0
Partner ethnicity                                         0
Partner Type                                           3464
Partner age                                           16933
Length: 61, dtype: int64

In [5]:
df.shape[0]*0.10

16961.600000000002

In [6]:
dfm = df.drop(df.columns[df.apply(lambda col: col.isnull().sum() > df.shape[0]*0.10)], axis=1)
dfm.reset_index(drop=True, inplace=True)
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169616 entries, 0 to 169615
Data columns (total 35 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Patient age at treatment                        169616 non-null  object
 1   Total number of previous IVF cycles             169616 non-null  object
 2   Total number of previous DI cycles              169616 non-null  object
 3   Causes of infertility - tubal disease           169616 non-null  int64
 4   Causes of infertility - ovulatory disorder      169616 non-null  int64
 5   Causes of infertility - male factor             169616 non-null  int64
 6   Causes of infertility - patient unexplained     169616 non-null  int64
 7   Causes of infertility - endometriosis           169616 non-null  int64
 8   Main reason for producing embroys storing eggs  169616 non-null  object
 9   Stimulation used                                169616 non-null  int64
 10  Donated embryo                                  158334 non-null  float64
 11  Type of treatment - IVF or DI                   169616 non-null  object
 12  Specific treatment type                         169616 non-null  object
 13  PGT-M treatment                                 169616 non-null  int64
 14  PGT-A treatment                                 169616 non-null  int64
 15  Elective single embryo transfer                 158334 non-null  float64
 16  Egg source                                      158334 non-null  object
 17  Sperm source                                    169421 non-null  object
 18  Fresh cycle                                     158334 non-null  float64
 19  Frozen cycle                                    158334 non-null  float64
 20  Eggs thawed (0/1)                               169616 non-null  int64
 21  Fresh eggs collected                            158334 non-null  object
 22  Fresh eggs stored (0/1)                         169616 non-null  int64
 23  Total eggs mixed                                158334 non-null  object
 24  Total embryos created                           158334 non-null  object
 25  Embryos transferred                             158334 non-null  float64
 26  Total embryos thawed                            169616 non-null  object
 27  Embryos stored for use by patient               158334 non-null  object
 28  Year of treatment                               169616 non-null  int64
 29  Live birth occurrence                           169616 non-null  int64
 30  Number of live births                           169616 non-null  int64
 31  Patient ethnicity                               169616 non-null  object
 32  Partner ethnicity                               169616 non-null  object
 33  Partner Type                                    166152 non-null  object
 34  Partner age                                     152683 non-null  object
dtypes: float64(5), int64(13), object(17)
memory usage: 45.3+ MB

~~~

In [7]:
dfm["Patient age at treatment"].unique()

array(['45-50', '18-34', 999, '40-42', '38-39', '35-37', '43-44'],
      dtype=object)

In [8]:
dfm.drop(dfm[dfm["Patient age at treatment"] == 999].index, inplace = True)
dfm["Patient age at treatment"].unique()

array(['45-50', '18-34', '40-42', '38-39', '35-37', '43-44'], dtype=object)

In [9]:
dfm["Patient age at treatment"] = le.fit_transform(dfm["Patient age at treatment"])
dfm["Patient age at treatment"].unique()

array([5, 0, 3, 2, 1, 4])

~~~~~

In [10]:
dfm.drop('Total number of previous DI cycles', axis=1, inplace=True)
dfm.shape

(166947, 34)

~~~~

In [11]:
dfm["Main reason for producing embroys storing eggs"].unique()

array(['Embryo storage', 'Donation', 'Treatment - IVF', 'Treatment - DI',
       'Egg storage', 'Egg share', 'Undefined'], dtype=object)

In [12]:
dfm = dfm[dfm['Main reason for producing embroys storing eggs'] == "Treatment - IVF"]
dfm.shape

(137171, 34)

In [13]:
dfm["Main reason for producing embroys storing eggs"].unique()

array(['Treatment - IVF'], dtype=object)

In [14]:
dfm.drop('Main reason for producing embroys storing eggs', axis=1, inplace=True)

~~~~

In [15]:
dfm = dfm[dfm['Stimulation used'] == 1]
dfm.shape

(82108, 33)

In [16]:
dfm['Stimulation used'].unique()

array([1], dtype=int64)

~~~~

In [17]:
dfm["Donated embryo"].unique()

array([0., 1.])

~~~~

In [18]:
dfm["Type of treatment - IVF or DI"].unique()

array(['IVF'], dtype=object)

In [19]:
dfm.drop('Type of treatment - IVF or DI', axis=1, inplace=True)
dfm.shape

(82108, 32)

In [20]:
dfm.drop('Stimulation used', axis=1, inplace=True)
dfm.shape

(82108, 31)

~~~~

In [21]:
dfm["Specific treatment type"].unique()

array(['ICSI', 'IVF', 'ICSI:IVF', 'ICSI:Unknown', 'Unknown',
       'IVF:Unknown'], dtype=object)

In [22]:
dfm = dfm[dfm['Specific treatment type'] == ('IVF' or 'IVF:Unknown' or 'ICSI:IVF')]

dfm["Specific treatment type"].unique()

array(['IVF'], dtype=object)

In [23]:
dfm.drop('Specific treatment type', axis=1, inplace=True)
dfm.shape

(39392, 30)

~~~~

In [24]:
dfm["Egg source"].unique()

array(['Patient'], dtype=object)

In [25]:
dfm.drop('Egg source', axis=1, inplace=True)
dfm.shape

(39392, 29)

~~~~

In [26]:
dfm["Sperm source"].unique()

array(['Partner', 'Donor', nan], dtype=object)

In [27]:
dfm = dfm[dfm['Sperm source'] == 'Partner']
dfm.shape

(35867, 29)

In [28]:
dfm.drop('Sperm source', axis=1, inplace=True)
dfm.shape

(35867, 28)

~~~~~

In [29]:
dfm["Fresh cycle"].unique()

array([1., 0.])

In [30]:
dfm["Frozen cycle"].unique()

array([0.])

In [31]:
dfm.drop('Frozen cycle', axis=1, inplace=True)
dfm.shape

(35867, 27)

~~~~~

In [32]:
dfm["Eggs thawed (0/1)"].unique()

array([0, 1], dtype=int64)

~~~~~

In [33]:
dfm["Year of treatment"].unique()

array([2017, 2018], dtype=int64)

In [34]:
dfm["Year of treatment"] = le.fit_transform(dfm["Year of treatment"])
dfm["Year of treatment"].unique()

array([0, 1], dtype=int64)

~~~~~

In [35]:
dfm["Patient ethnicity"].unique()

array(['White', 'Asian', 'Other', 'Mixed', 'Black'], dtype=object)

In [36]:
dfm["Partner ethnicity"].unique()

array(['White', 'Asian', 'Other', 'Black', 'Mixed', 'Any other ethnicity'],
      dtype=object)

In [37]:
dfm["Patient ethnicity"] = le.fit_transform(dfm["Patient ethnicity"])
dfm["Partner ethnicity"] = le.fit_transform(dfm["Partner ethnicity"])

~~~~~

In [38]:
dfm["Partner Type"].unique()

array(['Male', 'None', 'Female', 'Surrogate'], dtype=object)

In [39]:
dfm["Partner Type"].isnull().sum()

0

In [40]:
dfm.dropna(axis=0, how='any',subset=['Partner Type'], inplace=True)
dfm["Partner Type"].isnull().sum()

0

In [41]:
dfm.shape

(35867, 27)

~~~~

In [42]:
dfm["Partner age"].unique()

array(['40-42', '38-39', '18-34', '35-37', '45-50', '43-44', nan, '51-55',
       '56-60', '>60', 999], dtype=object)

In [43]:
dfm["Partner age"].isnull().sum()

648

In [44]:
dfm.drop(dfm[dfm["Partner age"] == 999].index, inplace = True)
dfm["Partner age"].unique()

array(['40-42', '38-39', '18-34', '35-37', '45-50', '43-44', nan, '51-55',
       '56-60', '>60'], dtype=object)

In [45]:
dfm.dropna(axis=0, how='any',subset=['Partner age'], inplace=True)
dfm["Partner age"].isnull().sum()

0

In [46]:
dfm.shape

(35217, 27)

In [47]:
dfm["Partner age"] = le.fit_transform(dfm["Partner age"])
dfm["Partner age"].unique()

array([3, 2, 0, 1, 5, 4, 6, 7, 8])

~~~~

In [48]:
dfm["Total embryos thawed"].unique()

array([0, '1-5'], dtype=object)

In [49]:
dfm["Total embryos thawed"] = dfm["Total embryos thawed"].replace(0,'0')

In [50]:
dfm["Total embryos thawed"] = le.fit_transform(dfm["Total embryos thawed"])

~~~~

In [51]:
dfm["Embryos stored for use by patient"].unique()

array([0, '1-5', '6-10', '11-15', '16-20', '>20'], dtype=object)

In [52]:
dfm.dropna(axis=0, how='any',subset=['Embryos stored for use by patient'], inplace=True)

In [53]:
dfm["Embryos stored for use by patient"] = dfm["Embryos stored for use by patient"].replace(0,'0')

In [54]:
dfm["Embryos stored for use by patient"].isnull().sum()

0

In [55]:
dfm["Embryos stored for use by patient"] = le.fit_transform(dfm["Embryos stored for use by patient"])

In [56]:
dfm["Embryos stored for use by patient"].unique()

array([0, 1, 4, 2, 3, 5])

~~~~

In [57]:
dfm["Fresh eggs collected"].unique()

array(['1-5', '6-10', '21-25', '16-20', '11-15', 0, '31-35', '26-30',
       '>40', '36-40'], dtype=object)

In [58]:
dfm["Fresh eggs collected"] = dfm["Fresh eggs collected"].replace(0,'0')
dfm["Fresh eggs collected"].unique()

array(['1-5', '6-10', '21-25', '16-20', '11-15', '0', '31-35', '26-30',
       '>40', '36-40'], dtype=object)

In [59]:
dfm["Fresh eggs collected"] = le.fit_transform(dfm["Fresh eggs collected"])
dfm["Fresh eggs collected"].unique()

array([1, 8, 4, 3, 2, 0, 6, 5, 9, 7])

~~~~

In [60]:
dfm["Total eggs mixed"].unique()

array(['1-5', '6-10', '21-25', '16-20', '11-15', 0, '31-35', '26-30',
       '>40', '36-40'], dtype=object)

In [61]:
dfm["Total eggs mixed"] = dfm["Total eggs mixed"].replace(0,'0')
dfm["Total eggs mixed"].unique()

array(['1-5', '6-10', '21-25', '16-20', '11-15', '0', '31-35', '26-30',
       '>40', '36-40'], dtype=object)

In [62]:
dfm["Total eggs mixed"] = le.fit_transform(dfm["Total eggs mixed"])
dfm["Total eggs mixed"].unique()

array([1, 8, 4, 3, 2, 0, 6, 5, 9, 7])

~~~

In [63]:
dfm["Total embryos created"].unique()

array(['1-5', '6-10', '11-15', '16-20', 0, '26-30', '21-25', '>30'],
      dtype=object)

In [64]:
dfm["Total embryos created"] = dfm["Total embryos created"].replace(0,'0')
dfm["Total embryos created"].unique()

array(['1-5', '6-10', '11-15', '16-20', '0', '26-30', '21-25', '>30'],
      dtype=object)

In [65]:
dfm["Total embryos created"] = le.fit_transform(dfm["Total embryos created"])
dfm["Total embryos created"].unique()

array([1, 6, 2, 3, 0, 5, 4, 7])

In [66]:
dfm.shape

(35217, 27)

~~~

In [67]:
dfm["Total number of previous IVF cycles"].unique()

array([0, 1, 3, 4, 2, 5, '>5'], dtype=object)

In [68]:
dfm = dfm[dfm['Total number of previous IVF cycles'] == 1]

In [69]:
dfm["Total number of previous IVF cycles"].unique()

array([1], dtype=object)

In [70]:
dfm.drop('Total number of previous IVF cycles', axis=1, inplace=True)
dfm.shape

(5632, 26)

dfm["Total number of previous IVF cycles"] = dfm["Total number of previous IVF cycles"].astype(str)
dfm["Total number of previous IVF cycles"].unique()

dfm["Total number of previous IVF cycles"] = le.fit_transform(dfm["Total number of previous IVF cycles"])
dfm["Total number of previous IVF cycles"].unique()

~~~

In [71]:
dfm.dropna(axis=0, how='any',subset=['Embryos stored for use by patient'], inplace=True)

In [72]:
dfm["Elective single embryo transfer"].unique()

array([0., 1.])

~~~~

In [73]:
dfm["Donated embryo"].unique()

array([0.])

In [74]:
dfm.drop('Donated embryo', axis=1, inplace=True)
dfm.shape

(5632, 25)

~~~~

In [75]:
dfm["Embryos transferred"].unique()

array([1., 0., 2., 3.])

In [76]:
dfm["Partner Type"] = le.fit_transform(dfm["Partner Type"])

In [77]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5632 entries, 9 to 169604
Data columns (total 25 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Patient age at treatment                     5632 non-null   int32
 1   Causes of infertility - tubal disease        5632 non-null   int64
 2   Causes of infertility - ovulatory disorder   5632 non-null   int64
 3   Causes of infertility - male factor          5632 non-null   int64
 4   Causes of infertility - patient unexplained  5632 non-null   int64
 5   Causes of infertility - endometriosis        5632 non-null   int64
 6   PGT-M treatment                              5632 non-null   int64
 7   PGT-A treatment                              5632 non-null   int64
 8   Elective single embryo transfer              5632 non-null   float64
 9   Fresh cycle                                  5632 non-null   float64
 10  Eggs thawed (0/1)                            5632 non-null   int64
 11  Fresh eggs collected                         5632 non-null   int32
 12  Fresh eggs stored (0/1)                      5632 non-null   int64
 13  Total eggs mixed                             5632 non-null   int32
 14  Total embryos created                        5632 non-null   int32
 15  Embryos transferred                          5632 non-null   float64
 16  Total embryos thawed                         5632 non-null   int32
 17  Embryos stored for use by patient            5632 non-null   int32
 18  Year of treatment                            5632 non-null   int64
 19  Live birth occurrence                        5632 non-null   int64
 20  Number of live births                        5632 non-null   int64
 21  Patient ethnicity                            5632 non-null   int32
 22  Partner ethnicity                            5632 non-null   int32
 23  Partner Type                                 5632 non-null   int32
 24  Partner age                                  5632 non-null   int32
dtypes: float64(3), int32(10), int64(12)
memory usage: 924.0 KB

In [78]:
dfm.reset_index(drop=True, inplace=True)

In [79]:
dfm

,Patient age at treatment,Causes of infertility - tubal disease,Causes of infertility - ovulatory disorder,Causes of infertility - male factor,Causes of infertility - patient unexplained,Causes of infertility - endometriosis,PGT-M treatment,PGT-A treatment,Elective single embryo transfer,Fresh cycle,...,Embryos transferred,Total embryos thawed,Embryos stored for use by patient,Year of treatment,Live birth occurrence,Number of live births,Patient ethnicity,Partner ethnicity,Partner Type,Partner age
0,2,0,0,0,1,0,0,0,0.0,1.0,...,1.0,0,0,0,0,0,4,5,1,3
1,0,0,1,0,0,0,0,0,0.0,1.0,...,0.0,0,0,1,0,0,4,5,1,0
2,0,0,0,0,1,0,0,0,0.0,1.0,...,2.0,0,0,0,1,2,4,5,1,0
3,2,1,0,0,0,0,0,0,0.0,1.0,...,0.0,0,0,0,0,0,0,1,1,6
4,2,0,0,0,1,0,0,0,1.0,1.0,...,1.0,0,1,0,0,0,4,5,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5627,0,0,0,0,0,0,0,0,0.0,1.0,...,0.0,0,1,0,0,0,3,4,1,2
5628,1,1,0,1,0,0,0,0,1.0,1.0,...,1.0,0,1,0,1,1,3,1,1,3
5629,2,0,1,0,0,0,0,0,1.0,1.0,...,1.0,0,1,1,0,0,3,5,1,4
5630,1,0,0,0,0,1,0,0,0.0,1.0,...,0.0,0,0,1,0,0,3,4,1,2
5631,0,0,0,0,0,1,0,0,1.0,1.0,...,1.0,0,1,1,1,1,4,5,1,1

### Machine Learning Models

In [80]:
X = dfm.drop('Live birth occurrence', axis='columns')
y = dfm["Live birth occurrence"]

In [81]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_scaled = scaler.fit_transform(X)
X_scaled

array([[ 4.01702700e-01, -4.13393240e-01, -3.94960038e-01, ...,
         5.35660123e-01,  4.40129723e-02,  5.52185196e-01],
       [-1.11362858e+00, -4.13393240e-01,  2.53190172e+00, ...,
         5.35660123e-01,  4.40129723e-02, -1.10495887e+00],
       [-1.11362858e+00, -4.13393240e-01, -3.94960038e-01, ...,
         5.35660123e-01,  4.40129723e-02, -1.10495887e+00],
       ...,
       [ 4.01702700e-01, -4.13393240e-01,  2.53190172e+00, ...,
         5.35660123e-01,  4.40129723e-02,  1.10456655e+00],
       [-3.55962942e-01, -4.13393240e-01, -3.94960038e-01, ...,
        -1.47655350e-01,  4.40129723e-02, -1.96158151e-04],
       [-1.11362858e+00, -4.13393240e-01, -3.94960038e-01, ...,
         5.35660123e-01,  4.40129723e-02, -5.52577513e-01]])

In [83]:
from prettytable import PrettyTable
tab = PrettyTable()
tab.title = 'Machine Learning Model Scores (0.3 split)'
tab.field_names = ['ML Model', 'Model Score']

In [ ]:
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB

split = 0.3

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = split, random_state = 40)

# DecisionTreeClassifier
ml_tree = DecisionTreeClassifier()
ml_tree.fit(X_train, y_train)
treescore = ml_tree.score(X_test, y_test)
tab.add_row(['DecisionTreeClassifier', treescore])

# KNeighborsClassifier
ml_knn = KNeighborsClassifier()
ml_knn.fit(X_train, y_train)
knnscore = ml_knn.score(X_test, y_test)
tab.add_row(['KNNClassifier', knnscore])

# RandomForestClassifier
ml_rfc = RandomForestClassifier()
ml_rfc.fit(X_train, y_train)
rfcscore = ml_rfc.score(X_test, y_test)
tab.add_row(['RandomForestClassifier', rfcscore])

# MLPClassifier
ml_mlp = MLPClassifier()
ml_mlp.fit(X_train, y_train)
mlpscore = ml_mlp.score(X_test, y_test)
tab.add_row(['MLPClassifier', mlpscore])

# AdaBoostClassifier
ml_ada = AdaBoostClassifier()
ml_ada.fit(X_train, y_train)
adascore = ml_ada.score(X_test, y_test)
tab.add_row(['AdaBoostClassifier', adascore])

# LinearRegression
ml_lr = LinearRegression()
ml_lr.fit(X_train, y_train)
lrscore = ml_lr.score(X_test, y_test)
tab.add_row(['LinearRegression', lrscore])

# GaussianNB
ml_gnb = GaussianNB()
ml_gnb.fit(X_train, y_train)
gnbscore = ml_ada.score(X_test, y_test)
tab.add_row(['GaussianNB', gnbscore])

Printing all the score of the Machine Learning Models

In [ ]:
tab

~~~

In [ ]:
from sklearn.ensemble import VotingClassifier
eclf1 = VotingClassifier(
    estimators=[("tree", ml_tree), ("knn", ml_knn), ("rfc", ml_rfc), ("mlp", ml_mlp), ("ada", ml_ada)],
    voting="soft")

In [ ]:
eclf1 = eclf1.fit(X, y)
print(eclf1.predict(X))
print(eclf1.score(X,y))

In [ ]:
from sklearn.ensemble import VotingClassifier
eclf2 = VotingClassifier(
    estimators=[("tree", ml_tree), ("knn", ml_knn), ("rfc", ml_rfc), ("mlp", ml_mlp), ("ada", ml_ada)],
    voting="hard")

In [ ]:
eclf2 = eclf2.fit(X, y)
print(eclf2.predict(X))
print(eclf2.score(X,y))

~~~~

In [ ]:
scoretab = PrettyTable()
scoretab.title = 'Machine Learning Model Scores'
scoretab.field_names = ['ML Model', 'roc_auc_score', 'f1_score', 'precision_score']

In [ ]:
from sklearn.metrics import roc_auc_score, f1_score, precision_score

scoretab.add_row(['DecisionTreeClassifier',
                roc_auc_score(y, ml_tree.predict_proba(X)[:,1]),
                f1_score(y, ml_tree.predict(X)),
                precision_score(y, ml_tree.predict(X)) ])

scoretab.add_row(['KNeighborsClassifier',
                roc_auc_score(y, ml_knn.predict_proba(X)[:,1]),
                f1_score(y, ml_knn.predict(X)),
                precision_score(y, ml_knn.predict(X)) ])

scoretab.add_row(['RandomForestClassifier',
                roc_auc_score(y, ml_rfc.predict_proba(X)[:,1]),
                f1_score(y, ml_rfc.predict(X)),
                precision_score(y, ml_rfc.predict(X)) ])

scoretab.add_row(['MLPClassifier',
                roc_auc_score(y, ml_mlp.predict_proba(X)[:,1]),
                f1_score(y, ml_mlp.predict(X)),
                precision_score(y, ml_mlp.predict(X)) ])

scoretab.add_row(['AdaBoostClassifier',
                roc_auc_score(y, ml_ada.predict_proba(X)[:,1]),
                f1_score(y, ml_ada.predict(X)),
                precision_score(y, ml_ada.predict(X)) ])

# scoretab.add_row(['LinearRegression',
#                 roc_auc_score(y, ml_lr.predict(X)),
#                 f1_score(y, ml_lr.predict(X)),
#                 precision_score(y, ml_lr.predict(X)) ])

# scoretab.add_row(['GaussianNB',
#                 roc_auc_score(y, ml_gnb.predict(X)),
#                 f1_score(y, ml_gnb.predict(X)),
#                 precision_score(y, ml_gnb.predict(X)) ])

scoretab